html{
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

header{
  background-color: orange;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

h1{
  text-align: center;
  padding: 1em 0em 0em 0em;
}

nav a{
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: none;
  color: #fff;
  background-color: orange;
}

a:hover{
  color: red;
}

nav li {
  float: left;
  width: 33.33333333%;
  list-style-type: none;
}

nav ol{
  overflow: hidden;
  padding: 0;
}

h2{
  text-align: center;
}

.inset{
  float: left;
  width: 22%;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.p1{
  margin-bottom: 15px;
}

.right{
  float: right;
  width: 22%;
  margin-left: 15px;
  margin-bottom: 15px;
  clear: both;
  border: 1px solid black;
}

.p2{
  clear: left;
}

div{
  background-color: orange;
  clear: both;
  overflow: hidden;
  margin: 0;
}

figure{
  margin: 0;
}

.cereals{
  clear: both;
  color: #fff;
}

.corn{
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.figcorn{
  color: #fff;
  text-align: center;
  padding: 1em 0em 1em 0em;
}

.rice{
  float: left;
  width: 50%;
  clear: left;
  display: inline-block;
  margin: 0;

}

.figrice{
  clear: left;
  color: #fff;
  padding: 1em 0em 1em 0em;
}

.oats{
  float: right;
  width: 50%;
  display: inline-block;
  margin: 0;
}

.figoats{
  clear: right;
  padding: 1em 0em 1em 0em;
  color: #fff;
}

ul img{
  float: left;
  width: 22%;
  margin-right: 15px;
  margin-bottom: 15px;
  clear: left;
}

ul{
  list-style-type: none;
}

.peanuts{
  border: 1px solid black;
}

.beans{
  border: 1px solid black;
}

.lentils{
  border: 1px solid black;
}

footer{
  background-color: orange;
  color: #fff;
  clear: both;
  text-align: center;
  padding: 1em 1em 1em 1em;
}
